* {
    padding: 10px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}


table, td, th {
    border: 1px solid black;

}

table th {
    background-color: rgb(119, 153, 131);
}

table tr:nth-child(even) {
    background-color: rgb(229, 239, 236);
}

td, th {
    padding: 3px;
}

table {
    font-size: 1rem;
    border-collapse: separate;
}

.box {
    width: 200px;
    height: 100px;
    background: rgb(237, 167, 167);
    border: solid 4px red;
    display: inline-block;
    /* display: inline-block, faz com que a imagem, caso tenha espaço do lado, fique na mesma linha */
}

img {
    height: 6rem;
    width: 10rem;
}